@keyframes fadeIn{
    0%{
        font-size: 10px;
        opacity: 0%;
    }
    100%{
        font-size:50px;
        opacity: 100%;
    }
}

@keyframes sideIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes out-in{
    0%{
        opacity: 0%;
        transform: scale(1.5,1.5);
    }
    100%{
        opacity: 100%;
    }
}

.animationSideIn{
    animation: sideIn 1000ms ease-in;
}

.animationOut-In{
    animation: out-in ease-in 1000ms;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    color: rgb(233, 233, 233);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(39, 39, 39);
}

footer{
    width: 100%;
    height: 15em;
    background-color: rgba(31,98,172,1);
    color: white;
}

.footer{
    font-style: italic;
    font-size: 18px;
}

.banner a{
    text-decoration: none;
}

.font-main{
    font-family: 'Source Sans Pro', sans-serif;
}

/*títulos*/
.main-title{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;

    animation: fadeIn ease-in 1000ms;
}

.saludos{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.title2{
    padding: 0.2em;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 3px solid rgb(104, 152, 255);
    border-left: 20px solid rgb(103, 139, 255);
}

@media (max-width: 766px){
    .title2{
        font-size: 25px;
    }

}

/*-------*/

/*colores*/

.bg-main{
    background: linear-gradient(90deg, rgba(16,32,87,1) 0%, rgba(31,98,172,1) 35%, rgba(70,167,255,1) 100%);
}

.btn-main{
    background: linear-gradient(0deg, rgba(0,115,184,1) 0%, rgba(159,218,251,1) 100%);
    color: white;
}

.bg-main-blue{
    background-color:  rgba(31,98,172,1)
}

/*-------*/

.banner{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-bar{
    background: linear-gradient(0deg, rgba(177,177,177,1) 0%, rgba(255,255,255,1) 100%);
    width: 100%;
}


.nav-link-main{
    padding: 0.7em;
    text-decoration: none;
    font-size: 18px;
    color: grey;
}

.presentacion{
    background: url('../assets/imgs/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40em;
    border-bottom: 1px solid grey;
    box-shadow: 1px 1px 3px rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture{
    transform: rotateZ(-3deg);
}

.main-card{
    width: 450px;
    padding: 0.5em;
    border: 1px solid grey;
}

.final-info{
    height: 20em;
}

.testi{
    border: 2px solid rgb(207, 207, 207);
    border-radius: 5px;
    margin-left: 1em;
    width: 350px;
    margin: 0.7em;
}

.user{
    font-style: italic;
}

.a-comp{
    list-style: none;
}

.flexbox-testi{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#textArea{
    resize: none;
}

/*barra de navegación*/

.menu-responsive{
    background: linear-gradient(0deg, rgba(184, 182, 182,0.95) 0%, rgba(255,255,255,0.95) 100%);
    position: fixed;
    width: 100%;
    top: -500px;
    z-index: 60;
    box-shadow: 2px 2px 5px grey;

    transition-property: position, top;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

@media (max-width: 660px){
    .nav-bar{
        display: none;
    }

    .nav-link-main{
        color: black;
        font-weight: bold;
    }

    .button-nav-bar{
        display: block;
        position: fixed;
        top: 1.7em;
        right: 1em;
        border-radius: 100%;
        box-shadow: 2px 2px 4px black;
        z-index: 50;
    }
}

@media (min-width: 660px){
    .button-nav-bar{
        display: none;
    }
}



/*-------------------*/